@model test.Models.malzemelist

@{
    if (Session["UserId"] == null)
    {
        Response.Redirect("~/Login");
    }
    else if ((int)Session["status"] == 1)
    {
        Response.Redirect("~/Login");
    }
}
<title>Malzeme Ekle</title>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-4">
                        <!-- general form elements -->
                        <div class="card card-blue">
                            <div class="card-header">
                                <h3 class="card-title"></h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <form role="form">
                                <div class="card-body">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        <div class="col-md-10">
                                            <label class="">Malzeme Adı:</label>
                                            @Html.EditorFor(model => model.malzeme, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.malzeme, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <label class="text-da text-danger">@ViewBag.malzemevar</label>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Kaydet" class="btn btn-primary" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
