@model IEnumerable<test.Models.tedarikci>
@{
    if (Session["UserId"] == null)
    {

        Response.Redirect("~/Login");

    }
    ViewBag.Title = "Kullanıcı Listesi";
}
<title>Tedarikci listesi</title>

<div class="card-body p-0" >
<table id="dtBasicExample" class="table table-striped projects">
    <thead>
        <tr>
            <th style="width: 17%">
                Tedarikci firma
            </th>
            <th style="width: 28%">
                Adres
            </th>
            <th style="width: 15%">
                Telefon
            </th>
            <th style="width: 15%">
                İlgili Kişi
            </th>
            <th style="width: 25%">
                İşlem
            </th>
        </tr>
    </thead>
<tbody>
    @foreach (var item in Model)
    {
        @Html.Hidden("Id")
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.firma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefon)
            </td>
            <td class="project_progress">
                @Html.DisplayFor(modelItem => item.ilgilisi)
            </td>
            <td class="project-actions text-right" style="padding-right:6.5rem">
                @{
                    if ((string)Session["statusname"] == "Admin" || (string)Session["statusname"] == "Master")
                    {
                        <a class="btn btn-primary btn-sm" style="font-size:12px" href="@Url.Action("Tedarikdetail", new { id = item.id })">
                            <i class="fas fa-folder">
                            </i>
                            Göster
                        </a>
                        <a class="btn btn-info btn-sm" style="font-size:12px" href="@Url.Action("Tedarikedit",  new { id = item.id })">
                            <i class="fas fa-pencil-alt">
                            </i>
                            Düzenle
                        </a>
                        <a class="btn btn-danger btn-sm" style="font-size:12px" href="@Url.Action("Tedarikdelete", new { id = item.id })">
                            <i class="fas fa-trash">
                            </i>
                            Sil
                        </a>
                    }
                    else
                    {
                        Url.Action("Index", "Login");
                    }
                }
            </td>
        </tr>
    }
</tbody>
    </table>
</div>
<link href="~/Content/Admin/plugins/datatables-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        $('#dtBasicExample').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
            }
        });
    });
</script>