@model test.Models.stok
@{
    if (Session["UserId"] == null)
    {

        Response.Redirect("~/Login");

    }
}
<title>Stok Düzenle</title>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Stok Düzenle</h4>
        <hr />
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-6">
                        <!-- general form elements -->
                        <div class="card card-cyan">
                            <div class="card-header">
                                <h3 class="card-title"></h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <form role="form">
                                <div class="card-body">
                                    @Html.HiddenFor(model => model.id)
                                    @Html.HiddenFor(model => model.birim)
                                    @Html.HiddenFor(model => model.malzemelist)
                                    @Html.HiddenFor(model => model.tedarikci)
                                    @Html.HiddenFor(model => model.tur)
                                    @Html.HiddenFor(model => model.login)
                                    <div class="form-group">
                                        <div class="">
                                            <label class="">Tedarikçi Firma Adı:</label>
                                            @Html.DropDownList("tedarik_id", null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="">
                                            <label class="">Malzeme:</label>
                                            @Html.DropDownList("malzeme_id", null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="">
                                            <label class="">Türü:</label>
                                            @Html.DropDownList("tur_id", null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="">
                                            <label class="">Birim:</label>
                                            @Html.DropDownList("birim_id", null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="">
                                            <label class="">miktar:</label>
                                            @Html.EditorFor(model => model.miktar, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label class="">Tarih:</label>
                                            @Html.TextBoxFor(model => model.tarih, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control datepicker" })
                                            @Html.ValidationMessageFor(model => model.tarih, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class=" float-right">
                                        <a href="~/Stok/Stoklistele" class="btn btn-app">
                                            <i class="fas fa fa-backward"></i><b>Geri Dön</b>
                                        </a>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 ">
                                            <input type="submit" value="Kaydet" class="btn btn-info " />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
    </div>

}
<script>
    $(function () {
        //Initialize Select2 Elements
        $('.select2').select2()
    })
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
