@model test.Models.misafir
@{
    if (Session["statusname"] == null)
    {
        Response.Redirect("~/Login");
    }
    Layout = "~/Views/Shared/_Layout3.cshtml";
}
<title>Ziyaretçi Girişi</title>
@using (Html.BeginForm())
{
    <div class="form-horizontal" style="font-size:14px">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-5">
                        <!-- general form elements -->
                        <div class="card card-warning">
                            <div class="card-header">
                                Ziyaretçi Girişi
                                <h3 class="card-title"></h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <form role="form">
                                <div class="card-body">
                                    <div class="input-group input-group-sm">
                                        <label class="col-sm-4 col-form-label">TC:</label>
                                        <div class="col-sm-8">
                                            @Html.EditorFor(model => model.tc, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                        </div>
                                    </div>
                                    <div class="input-group input-group-sm">
                                        <label class="col-sm-4 col-form-label">Adı:</label>
                                        <div class="col-sm-8">
                                            @Html.EditorFor(model => model.ad, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                        </div>
                                    </div>
                                    <div class="input-group input-group-sm">
                                        <label class="col-sm-4 col-form-label">Soyadı:</label>
                                        <div class="col-sm-8">
                                            @Html.EditorFor(model => model.soyad, new { htmlAttributes = new { @class = "form-control form-control-sm" } })

                                        </div>
                                    </div>
                                    <div class="input-group input-group-sm">
                                        <label class="col-sm-4 col-form-label">Plaka:</label>
                                        <div class="col-sm-8">
                                            @Html.EditorFor(model => model.plaka, new { htmlAttributes = new { @class = "form-control form-control-sm" } })

                                        </div>
                                    </div>
                                    <div class="input-group input-group-sm">
                                        <label class="col-sm-4 col-form-label">Telefon:</label>
                                        <div class="col-sm-8">
                                            @Html.EditorFor(model => model.telefon, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                        </div>
                                    </div>
                                    <div class="input-group input-group-sm">
                                        <label class="col-sm-4 col-form-label">Sıcaklık:</label>
                                        <div class="col-sm-4"> 
                                            <input type="number" name="sicaklik" step="0.1" max="40.00" class="form-control form-control-sm" placeholder="0.00">
                                        </div>
                                       
                                    </div>
                                    <div class="input-group input-group-sm">
                                        <label class="col-sm-4 col-form-label">Giriş Saati:</label>
                                        <div class="col-sm-8">
                                            <input type="datetime-local" name="girissaat" max="2030-06-14T00:00" class="form-control form-control-sm" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm").Replace(' ','T')" />

                                        </div>
                                    </div>
                                    <div class="input-group input-group-sm">
                                        <label class="col-sm-4 col-form-label">Ziyaret Sebebi:</label>
                                        <div class="col-sm-8">
                                            @Html.EditorFor(model => model.sebep, new { htmlAttributes = new { @class = "form-control form-control-sm" } })

                                        </div>
                                    </div>
                                    <br />
                                    <div class="input-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Kaydet" class="btn btn-primary" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
    </div>
}

<script>
    $(function () {
        //Initialize Select2 Elements
        $('.select2').select2();
        $('#datetimepicker3').datetimepicker({
            format: 'LT'
        });
    })
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}